@font-face {
    font-family: 'HeadingFont';
    src: url(oswald/Oswald-Light.ttf);
}

@font-face {
    font-family: 'ParagraphFont';
    src: url(source-sans-pro/SourceSansPro-Light.otf);
}

body {
    min-height: 100vh;
    margin: 0 auto;
    /* background: #E9F8CE; */
    /* background: whitesmoke; */
    background: rgb(248, 252, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'ParagraphFont', Fallback, sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    /* background: whitesmoke; */
    /*position: fixed;*/
    width: 100%;
    padding: 10px;
    text-align: left;
}

header>a:hover {
    border-bottom: 5px solid rgb(25, 142, 189);
}

footer {
    text-align: center;
    padding: 15px;
}

main {
    flex-grow: 1;
    /* margin: 20px 12.8%; */
}

.header-option {
    margin: 20px;
}

#introduction {
    display: grid;
    grid-template-rows: 0.5fr 100px 0.5fr;
    grid-template-columns: 1fr 200px;
    margin: 20px 12.8%;
}

/* all elements with the blue font color */
#first-name, .contact-div>a, .contact-div, .btn.btn-secondary {
    color: rgb(25, 142, 189)
}

.contact-div>a {
    text-decoration: none;
}

.contact-icon {
    max-width: 65px;
    max-height: 65px;
}

.contact-div {
    text-align: center;
}

#project-heading, #project-list {
    margin: 20px 12.8%;
}

[id$="heading"] {
    font-family: 'HeadingFont', Fallback, sans-serif;
}

#main-heading {
    grid-row: 1;
    grid-column: 1;
    font-size: 4em;
}

#contact {
    grid-row: 2;
    grid-column: 1;
}

#about-me {
    grid-row: 3/span 1;
    grid-column: 1;
}

#profile-photo {
    grid-row: 1/span 2;
    grid-column: 3/span 1;
    max-width: 200px;
    border-radius: 100%;
}

#project-carousel {
    margin-top: 90px;
}

#project-heading {
    font-size: 2.2em;
}

#contact {
    display: flex;
    justify-content: space-between;
}

#carouselMain {
    width: 100%;
    height: 500px;
    background-color: black;
}

.carousel-item {
    height: 500px;
}

.d-block.w-100 {
    max-width: 900px;
    margin: 0 auto;
    opacity: 0.4;
}

.btn.btn-secondary {
    background: rgb(248, 252, 255);
}

#project-list>div {
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: solid;
    border-color: rgb(25, 142, 189);
}

#project-list>div:nth-child(odd) {
    display: flex;
    justify-content: left;
    flex-direction: row;
}

#project-list>div:nth-child(even) {
    display: flex;
    justify-content: right;
    flex-direction: row-reverse;
}

#project-list > div > img {
    max-width: 350px;
    max-height: 350px;
}

#project-list>div>div {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}

#project-list>div:nth-child(odd)>div {
    margin-left: 20px
}

#project-list>div:nth-child(even)>div {
    margin-right: 20px;
    text-align: right;
}

